<?xml version="1.0"?>
<configuration>
  <appSettings><add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /></appSettings>
  <connectionStrings>
    <add name="GroceryDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\GroceryDB.accdb;Persist Security Info=False;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <globalization culture="en-IN" uiCulture="en" />
    <compilation debug="false" strict="true" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="1024" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms name=".FreshBasketAuth" loginUrl="~/Login.aspx" timeout="30" slidingExpiration="false" cookieless="UseCookies" requireSSL="true" cookieSameSite="Lax" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Lax" />
    <sessionState cookieName="FreshBasketSession" timeout="30" cookieless="UseCookies" cookieSameSite="Lax" />
    <pages validateRequest="true" enableViewStateMac="true" viewStateEncryptionMode="Always" clientIDMode="Predictable">
      <namespaces><add namespace="System.Data" /><add namespace="System.Globalization" /></namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="~/Error.aspx" />
    <trace enabled="false" />
  </system.web>
  <system.webServer>
    <httpProtocol><customHeaders>
      <add name="X-Content-Type-Options" value="nosniff" />
      <add name="X-Frame-Options" value="DENY" />
      <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
    </customHeaders></httpProtocol>
    <defaultDocument><files><clear /><add value="Default.aspx" /></files></defaultDocument>
  </system.webServer>
</configuration>
